/* delete margin from side of content */
.wy-nav-content {
    max-width: none !important;
}

.custom-title {
    font-weight: bold;
    color: #012169;
    text-align: left;
}

.custom-body {
    text-align: left;
    margin-left: max(45px, 15%);
}

html[data-theme="light"] {
    --pst-color-primary: #1A658F;
    --pst-color-secondary: #A8C700;
}

html[data-theme="dark"] {
    --pst-color-primary: #1A658F;
    --pst-color-secondary: #A8C700;
}
