/* delete margin from side of content */
.wy-nav-content {
    max-width: none !important;
}

.custom-body {
    text-align: left;
    margin-left: max(45px, 15%);
}

html[data-theme="light"] {
    --pst-color-primary: #1A658F;
    --pst-color-secondary: #A8C700;
    --pst-table-row-hover: #C3D7EE;
}

html[data-theme="dark"] {
    --pst-color-primary: #A8C700;
    --pst-color-secondary: #C3D7EE;
    --pst-table-row-hover: #1A658F;
}
