/* override the default image top css */
.sd-card-img-top {
    width: 15% !important;
    position: absolute !important;
    padding-left: 10px;
    min-width: 50px;
    top: 50%;
    transform: translateY(-50%);
}

/* override the default background image behavior */
.sd-card-img {
    height: auto;
}

/* mathjax */
div.math, span.math {
    align-items: baseline;
}

html[data-theme="light"] {
    --pst-color-primary: #1A658F;
    --pst-color-secondary: #012169;
    --pst-color-table-row-hover-bg: #C3D7EE;
}

html[data-theme="dark"] {
    --pst-color-primary: #5A98C5;
    --pst-color-secondary: #A8C700;
    --pst-color-table-row-hover-bg: #53565A;
}
