name: build

on:
  workflow_call:
    inputs:
      artifact_name:
        description: 'The name to assign to the built book artifact.'
        required: false
        default: 'book-zip'
        type: string
      build_from_code_artifact:
        description: 'Should we try to build from a previously uploaded code artifact?'
        required: false
        default: 'false'
        type: string
      workflow:
        description: 'The name of the workflow that created the code artifact.'
        required: false
        default: 'trigger-build'
        type: string
      code_artifact_name:
        description: 'The name of the code artifact to download.'
        required: false
        default: 'code-zip'
        type: string
      workflow_conclusion:
        description: 'The conclusion of the workflow that created the code artifact.'
        required: false
        default: success
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout code
        if: inputs.build_from_code_artifact != 'true'
        uses: actions/checkout@v4

      - name: set environment variables
        run: |
          echo "TODAY=$(date +%Y-%m-%d)" >> $GITHUB_ENV

      - name: Download code artifact
        id: get_code_artifact
        if: inputs.build_from_code_artifact == 'true'
        uses: dawidd6/action-download-artifact@v6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ${{ inputs.workflow }}
          run_id: ${{ github.event.workflow_run.id }}
          name: ${{ inputs.code_artifact_name }}
          workflow_conclusion: ${{ inputs.workflow_conclusion }}

      - name: Unzip code artifact
        if: inputs.build_from_code_artifact == 'true'
        run: |
          unzip pr_code.zip
          rm -f pr_code.zip

      - name: environment setup
        id: env-setup
        continue-on-error: true
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: build_envs/environment.yml
          cache-environment: true
          cache-environment-key: "build-${{env.TODAY}}"

      - name: retry environment set up if failed
        if: steps.env-setup.outcome == 'failure'
        uses: mamba-org/setup-micromamba@v1
        with:
          download-micromamba: false
          environment-file: build_envs/environment.yml
          cache-environment: true
          cache-environment-key: "build-${{env.TODAY}}"

      - name: make html
        run: |
          make html

      - name: Zip the book
        run: |
          set -x
          set -e
          if [ -f book.zip ]; then
              rm -rf book.zip
          fi
          zip -r book.zip ./_build/html/

      - name: Upload zipped book artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
          path: ./book.zip
